#
# Origin from ABR

global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
	option  tcplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000
	
listen nginxcluster 
	bind *:80
    mode http
    stats enable
    stats uri /haproxy?stats
    stats realm Strictly\ Private
    stats auth admin:admin
    balance roundrobin
    option httpclose
	option httplog
	option tcplog
    option forwardfor
    server nginx1 ${WEBSERVER1}:80 check
    server nginx2 ${WEBSERVER2}:80 check
    #server nginx2 ${NGINX2_PORT_80_TCP_ADDR}:${NGINX2_PORT_80_TCP_PORT} check
    # server nginx3 ${NGINX3_PORT_80_TCP_ADDR}:${NGINX3_PORT_80_TCP_PORT} check
